{% extends "core/base.html" %}

{% block tittle %}Welcome{% endblock %}

{% block content %}

<h1>Welcome</h1>

<h3>
    The Clinical Records Page for Psychologist
    <small class="text-muted">Made by Psychologist</small>
</h3>

<div class="container-md text-center">

    <h3>Why Chose us</h3>

    <div class="row">
        <div class="col">
            <h4>Made for you</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsa delectus enim debitis id magnam optio
                vero repellendus! Facere tenetur, quod quis molestias vel nam neque nisi. Tenetur, facere provident.</p>
        </div>
        <div class="col">
            <h4>Secure</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas molestiae id laudantium quam suscipit.
                Tempore, natus? Accusantium quibusdam architecto obcaecati maxime ab commodi iure id, eaque, voluptate
                similique dolorum error.</p>
        </div>
        <div class="col">
            <h4>Customizable</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis quis maiores atque dolor corrupti
                tempora eius, ullam dolorem molestiae debitis reprehenderit nesciunt aliquam, necessitatibus repellendus
                iure recusandae quas quo magnam.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Easy to Use</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsa delectus enim debitis id magnam optio
                vero repellendus! Facere tenetur, quod quis molestias vel nam neque nisi. Tenetur, facere provident.</p>
        </div>
        <div class="col">
            <h4>Accesible</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas molestiae id laudantium quam suscipit.
                Tempore, natus? Accusantium quibusdam architecto obcaecati maxime ab commodi iure id, eaque, voluptate
                similique dolorum error.</p>
        </div>
    </div>

    <div class="container-md text-center">

        <h3>Our Clients</h3>

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <img src="https://picsum.photos/200/300" width="200px" class="d-block" alt="...">
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="https://picsum.photos/200/300" width="200px" class="d-block" alt="...">
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="https://picsum.photos/200/300" width="200px" class="d-block" alt="...">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>


</div>



{% endblock %}