{% extends "core/base.html" %}

{% block tittle %}Sing Up{% endblock %}

{% block content %}

<div class="container-fluid">
    
    <div class="row justify-content-center">

        <div class="card card-signin">

            <div class="card-body">

                <form action="" class="form-signin" method="post">
                    {% csrf_token %}

                    <input type="number" name="id" id="", class="form-control" placeholder="ID" required>
                    
                    <input type="email" name="email" id="" class="form-control" placeholder="Email Address" required>

                    <input type="text" name="first_name" id="" class="form-control" placeholder="First Name" required>

                    <input type="text" name="last_name" id="" class="form-control" placeholder="Last Name" required>

                    <input type="text" name="phone" id="" class="form-control" placeholder="Phone" required>

                    <input type="password" name="password1" id="" class="form-control" placeholder="Password" required>

                    <input type="password" name="password2" id="" class="form-control" placeholder="Confirm Password" required>

                    {% for field in registration_form %}
                    <p>
                        {% for error in field.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    {% if registration_form.non_field_errors %}
                    <div>
                        <p>{{ registration_form.non_field_errors }}</p>
                    </div>
                    {% endif %}

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}